:root {
  --font-primary: "PT Serif", serif;
  --font-secondary: "Poppins", sans-serif;

  --gray-1: #a9a9a9;

  --space-xs: 1.2rem;
  --space-sm: 1.5rem;
  --space-lg: 7.5rem;

  --text-sm: 1.2rem;
  --text-md: 1.4rem;
  --text-lg: 1.8rem;

  --title-sm: 1.8rem;
  --title-lg: 3.6rem;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--space-lg) var(--space-xs);
  max-width: 96rem;
  margin: 0 auto;
}

/**Header element*/
.header {
  display: flex;
  flex-direction: column;
}

.title-one {
  font-family: var(--font-primary);
  font-size: var(--title-lg);
  font-weight: 700;
}

.team-details-wrapper {
  margin-top: 4.8rem;
}

.title-two {
  font-family: var(--font-secondary);
  font-size: var(--title-sm);
  font-weight: 600;
  text-transform: uppercase;
}

.team-details-wrapper .title-two {
  margin-bottom: 1.5rem;
}

.text-description {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: var(--text-md);
  line-height: 2.1rem;
}

.team-details-wrapper .text-description {
  width: 90%;
}

main {
  padding: 0 0.6rem;
}

/* grid container*/
.grid-wrapper {
  max-width: 930px;
  margin: 11rem auto 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 45%));
  row-gap: 6rem;

  justify-content: space-between;
}

.grid-wrapper .figure:nth-child(2n + 1) {
  margin-top: -4.5rem;
}

.figure {
  width: 100%;
  position: relative;
}

.position {
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  right: 5%;
  top: 0;
  transform: rotateZ(90deg) translateX(93%);
  transform-origin: right;
}

.figure img {
  width: 90%;
  object-fit: fill;
}

.figure figcaption {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: var(--text-md);
  margin-top: 1rem;
}

.footer {
  margin-top: 7rem;
  text-align: center;
}

.link {
  font-family: var(--font-secondary);
  color: var(--gray-1);
  font-weight: 600;
  font-size: var(--text-md);
}

.link:first-child {
  cursor: pointer;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .team-details-wrapper .text-description {
    font-size: var(--text-lg);
    line-height: 2.7rem;
  }

  .grid-wrapper {
    grid-template-columns: repeat(3, minmax(16rem, 24rem));
    row-gap: 3rem;
  }

  .figure img {
    height: 34rem;
  }

  .figure figcaption {
    font-size: var(--text-lg);
    margin-top: var(--space-sm);
  }

  .grid-wrapper .figure:nth-child(2n + 1) {
    margin-top: 0;
  }

  .grid-wrapper .figure:nth-child(3n + 2):not(:first-child) {
    margin-top: 10rem;
  }
}

@media (min-width: 1020px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;
    flex-wrap: wrap;
  }

  .team-details-wrapper {
    margin: 0;
  }

  .team-details-wrapper .text-description {
    max-width: 44rem;
  }

  .link {
    font-family: var(--font-secondary);
    color: var(--gray-1);
    font-weight: 600;
    font-size: var(--text-md);
  }

  .position {
    font-size: var(--text-sm);
  }
}
